// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// $theme-colors: (
//   "primary": #1977f2,
//   "danger": #f0284a,
//   "success": #2bbba7
// );